---
layout: default
---
{% assign hcontent = site.data.pages | where:"home", "home_content" %} 
{{hcontent.markdown_content | markdown }}
<div class="band">
    <div class="slogan">
        <h3>“If you want your dreams to happen - wake up”</h3>
        <p>~Joey Reiman~</p>
    </div><!-- slogan -->
        <div class="free-tuneup">
            <img src="{{site.url}}assets/tuneup.png" alt="">
            <div class="text">
            <h3>Free <br>Adjustments</h3>
            <p>For Life</p>
            </div><!-- text -->
        </div><!-- free-tuneup -->
    <div class="address">
        <div class="address-wrapper">
        <p>1901 Champaign Ave <br> Mattoon, IL 61938 <br>(217) 234-6738 <br>
M-F 8:00-5:30</p>
</div><!-- address-wrapper -->
    </div><!-- address -->
</div><!-- /band -->
<div class="brands">
    <div class="authorized">
        <h3>Authorized Dealer</h3>
        <div class="brand-list">
            <a href="#"><img src="{{site.url}}assets/fuji.png" alt=""></a>
            <a href="#"><img src="{{site.url}}assets/profile.png" alt=""></a>
        </div><!-- brand-list -->
    </div><!-- authorized -->
    <div class="reseller">
        <h3>Reselling and Servicing</h3>
        <img src="{{site.url}}assets/secondary-brands.png" alt="">
        <p>and many other fine brands.</p>
    </div><!-- reseller -->
</div>
<!-- brands -->
<div class="main-content">
    <div class="home-about">
        <h3>We Live This Stuff!</h3>
        {% for item in hcontent %}
        <div class="home-about-images">
            {% for img in item.photos | limit: 4 %}
            <div class="nail">
                <img src="{{ img.url }}" alt="">
            </div><!-- nail -->
            {% endfor %}

        </div><!-- home about images -->
        <p>{{ item.markdown_content | markdown }}</p>
        {% endfor %}
    </div><!-- /home-about -->
    <div class="secondary">
    <div class="home-events">
        <h3>Upcoming Events:</h3>
        <div class="home-event-inner">
            {% for item in site.data.events | limit: 1%}

            <div class="home-event-details">
                <h4><a href="#">{{item.name}}</a></h4>
                <p class="date">{{item.datetime}}</p>
                <p class="details">{{item.description}}</p>
                <a href="#" class="button">Learn More</a>
            </div><!-- homeeventdetails -->
            <div class="home-event-photo">
                {% for img in item.featured_image %}
                <a href="#"><img src="{{img.url}}" alt=""></a>
                {% endfor %}
            </div>
            {% endfor %}
        </div><!-- inner -->
    </div><!-- /home-events -->
    <div class="home-photos">
        <h3>Recent Photos:</h3>
        <div class="home-photos-wrapper">
            <img src="{{site.url}}assets/img1.png" alt="">
            <img src="{{site.url}}assets/img2.png" alt="">
            <img src="{{site.url}}assets/img3.png" alt="">
            <img src="{{site.url}}assets/img4.png" alt="">
            <img src="{{site.url}}assets/img1.png" alt="">
            <img src="{{site.url}}assets/img2.png" alt="">
            <img src="{{site.url}}assets/img3.png" alt="">
            <img src="{{site.url}}assets/img4.png" alt="">
        </div><!-- home-photos-wrapper -->
        
    </div><!-- /home-photos -->
    </div><!-- secondary -->
</div><!-- /main-content -->
<div class="home-bikes">
    <h3>Recent Additions</h3>
    <div class="bikes">
        {% for bike in site.data.bikes | limit: 4 %}
        {% if bike.Picture %}
        <a href="#">{% for img in bike.Picture %}<img src="{{img.url}}" alt="">{% endfor %}</a>
        {% else %}
        <a href="#">{% for img in bike.Picture %}<img src="http://placehold.it/1920x1080" alt="">{% endfor %}</a>
        {% endif %}
        {% endfor %}
    </div><!--/bikes-->
    <a href="#" class="button">View All Bikes</a>
</div><!-- home bikes -->
