<div class="wrapper">
<div class="header">
    <nav>
    <div class="main-menu">
        <a href="{{site.url}}about-us.html">About</a>
        <a href="{{site.url}}bikes.html">Bikes</a>
        <a href="{{site.url}}gear.html">Gear</a>
        <a href="{{site.url}}repairs.html">Repairs</a>
        <a href="#">Events</a>
    </div><!-- main-menu -->
    </nav>
    <h1><a href="{{site.url}}">Elite Cyclery Bicycle Shop</a></h1>
</div><!-- /header -->
<div class="band">
    <div class="slogan">
        {% for quote in site.data.quotes | random | limit:1 %}
        <h3>“{{ quote.quote }}”</h3>
        <p>~{{ quote.author }}~</p>
        {% endfor %}
    </div><!-- slogan -->
        <div class="free-tuneup">
            <img src="{{site.url}}assets/tuneup.png" alt="">
            <div class="text">
            <h3>Free <br>Adjustments</h3>
            <p>For Life</p>
            </div><!-- text -->
        </div><!-- free-tuneup -->
    <div class="address">
        <div class="address-wrapper">
        <p><i class="fa fa-building"></i> 1901 Champaign Ave, Mattoon<br><i class="fa fa-phone"></i> (217) 234-6738 <br> 
<i class="fa fa-clock-o"></i> M-F 8:00-5:30</p>
</div><!-- address-wrapper -->
    </div><!-- address -->
</div><!-- /band -->